<main>

    <div>

        <h2> Complete el siguiente formulario para poder registrarse </h2>

        <form action="/register" method="POST">
            <div>
                <div>

                    <input type="text" placeholder="Nombre" name="first_name" />
                    <input type="text" placeholder="Apellido" name="last_name" />
                    <input type="text" placeholder="Zona" name="zona" />
                </div>
                <div>
                    <input type="email" placeholder="Email" name="email" />
                    <input type="password" placeholder="Password" name="password" />
                </div>
            </div>
            <input type="submit" value="Crear" />
        </form>



    </div>



</main>