<main>
    <form action="/restoreForm/{{uid}}/{{token}}" method="post" class="restore__form">
        <p>Por favor ingrese su nueva contraseña.</p>
        <input type="password" placeholder="password" class="restore__input" name="password" />
        <div class="input__divider"></div>
        <button type="submit" class="restore__btn">Restaurar</button>
    </form>
</main>