<main>
    <div class="formCheck">
        <h1 class="detailTicket"> Detalle de compra</h1>



        <h2 class="nombresCheck">¡Compra realizada con éxito!</h2>
        <p class="nombresCheck">Código de la compra: {{result.code}}</p>
        <p class="nombresCheck">Total: {{result.amount}}</p>
        <p class="nombresCheck">Usuario: {{result.purchaser}}</p>






        <a class="btnCheck" href="/product">Volver a la tienda</a>



    </div>


</main>